/** Things mentioned in Preamble for Explore */

.wd-borders-specific{
    border-color: rgb(47, 51, 54);
    border-style: solid
}

.wd-tuit-button{
    width: 100%;
    border-radius: 10px;
}
.wd-follow-button{
    float: right;
    border-radius: 40px/24px;
}

.wd-color-black{
    background-color: black;
}

.wd-font-white{
    color: white;
}
.wd-font-black{
    color: black;
}

.wd-banner-image{
    width: 100%;
}

.wd-banner-font{
    font-size: 40px;
    color: white;
}

.wd-tabs-bottom{
    border-width: 100%;
}


/** BOOTSTRAPS ADD, Build in 3 Columns */
.wd-boot-left-column{
    float: left;
    width: 25%;

}
.wd-boot-middle-column{
    float: left;
    width: 50%;
}
.wd-boot-right-column{
    float: left;
    width: 25%;
}

/** Input Bar Section */
.wd-input-bar{
    background-color: white;
    width: 85%;
    height: 30px;
    color: gray;
    border-color: lightgray;
    border-radius: 10px;
}

.pos-float-12pt{
    color: black;
    float: right;
}

/** Bookmarks Section */

/** Challenge advice, justify content */
.wd-flex-container{
    display: flex;
    justify-content: space-between;
}

.wd-highlight-color{
    color: rgb(29,161,242);
    font-size: 15px;
}

.wd-nav-color{
    background-color: rgb(29,161,242);
}


.wd-link-color{
    color: rgb(110,118,125);
    font-size: 15px;
}

/** Section C Part */
.wd-grid-left-text{
    float: left;
    width: 75%
}

.wd-grid-right-image{
    float: right;
}

.wd-suggested-post{
    color: black;
    border-color: lightgray;
    /*
    border-color: rgb(47, 51, 54);
    Suggested color black, not light gray like shown
     */
    border-style: solid;
}

.wd-trending-font{
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-float-left{
    float: left;
    width: 50%;
}

.wd-author-font{
    color: white;
    font-size: 15px;
}

.wd-image-format{
    /**should be 16px from right */
    float: right;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.wd-avatar-photo{
    float: left;
    border-radius: 50%;
    width: 48px;
}

.btn-primary.wd-override-tuit {
    border-radius: 20px;
    width: 100%;
}

.btn-primary.wd-override-follow {
    border-radius: 20px;
    float: right;
}
